<section class="ftco-section" style="
  background-image: url('assets/images/d1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh ;
  background-attachment: fixed;"
>
  <div class="container-fluid" style="padding: 20px">
    <div class="row justify-content-end" style="padding-right: 120px;">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section" style="margin-top: 50px" >
          <strong style="font-size: 45px;"> Welcome Admin Manager!...</strong>
        </h2>
      </div>
    </div>
    <div class="row justify-content-end" style="padding-right: 120px;">
      <div class="col-md-6 col-lg-4 offset-md-6">
        <div class="login-wrap p-0" style="padding: 0%">
          <h3 class="mb-4 text-center"><strong>Have an account?</strong></h3>
          <form
            form #spForm="ngForm"
            (ngSubmit)="Getlogin()"
            class="signin-form"
            style="
              padding: 12px 20px;
              margin-bottom: 10px;
              border-radius: 50%;
            "
          >
            <div class="form-group" style="color: black;">
              <label for="username"><strong>Admin User Name:</strong></label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="User Name"
                [(ngModel)]="admin.username"
                placeholder="Enter User Name"
                required
                minlength="5"
              />
              <div class="error-message" *ngIf="spForm.controls['User Name'].invalid && (spForm.controls['User Name'].dirty || spForm.controls['User Name'].touched)">
                <div *ngIf="spForm.controls['User Name'].errors['required']">User Name is required.</div>
                <div *ngIf="spForm.controls['User Name'].errors['minlength']">User Name must contain at least 5 characters.</div>
              </div>
            </div>
            <div class="form-group" style="color: black;">
              <label for="password"><strong>Admin Password:</strong></label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                [(ngModel)]="admin.userpassword"
                placeholder="Enter password"
                required
                minlength="6"
              />
              <div class="error-message" *ngIf="spForm.controls['password'].invalid && (spForm.controls['password'].dirty || spForm.controls['password'].touched)">
                <div *ngIf="spForm.controls['password'].errors['required']">Password is required.</div>
                <div *ngIf="spForm.controls['password'].errors['minlength']">Password must contain at least 6 characters.</div>
              </div>
            </div>
            <button
              type="submit"
              class="form-control btn btn-success submit px-3"
              [disabled]="spForm.invalid"
              style="
                background-image: linear-gradient(
                  to right,
                  #1ee30c 5%,
                  rgb(20, 192, 20) 100%
                );
                margin-top: 20px;
              "
            >
              Login
            </button><br><br>
            <p class="bottom" style="color: rgb(71, 9, 9);">
              Not an Admin..?
              <a
                class="bottom"
                [routerLink]="['/customer/login']"
                style="
                  color:blue;
                  text-decoration: none;
                  padding-left: 5px;
                "
              >
                Click here
              </a>
            </p>
            <p><a
              class="bottom"
              [routerLink]="['/']"
              style="
                color: rgb(248, 53, 53);
              "
            >
              <strong>Back to Home....</strong>
            </a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
