<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">



<section id="banner">

  <mat-toolbar color="green" class="mat-elevation-z8" style="margin-bottom: 0px;">
    <div class="logo" style="margin-top: 10px;">
      
          <img src="assets/images/cofee logo.png" alt="Logo" class="img-responsive">
     
  </div>

  
    <a mat-raised-button color="primary" routerLink="/admin/login" style="margin-left: 20px;padding: auto;">Admin Login</a>
    <div class="spacer"></div>
    <a mat-raised-button color="primary" routerLink="/customer/login">Login</a>
   </mat-toolbar>
    
    <div id="banner-text"  style="
    background-image: url('assets/images/menu1.jpg');
    /* background-image: url('assets/images/z.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px">


      <h1 style="margin-left: 50px; color: white;">FrozTeaTech!...</h1>
      <br>
      <p style="margin-top: 30px; color: aqua;">Transforming Dreams into Visual Symphony</p>
      <div class="b_button">
        <a [routerLink]="['/customer/login']"><span></span>Order Food</a>
      </div>
    </div>
 </section> 
 
 

    
 
 <section id="footer">
   <div class="title_text">
     <p><strong style="font-size:larger;">CONTACT US</strong></p><br><br>
     <h1><strong>Visit Our Website Today</strong></h1>
   </div>
 
   <div class="footer_row">
    <div class="footer_left">
      <h1 style="font-size: 30PX;">Working Hours</h1>
      <p style="color:rgb(226, 32, 226); font-size: 17PX;" ><i class="fas fa-clock"></i> Monday to Friday - 6:00 am to 10:00 pm</p>
      <p style="color:rgb(226, 32, 226);font-size: 17PX; "><i class="fas fa-clock"></i> Saturday and Sunday - 6:00 am to 12:00 pm</p>
    </div>
  
    <div class="footer_right">
      <h1 style="font-size: 30PX;">Get In Touch</h1>
      
      <a href="mailto:devika742002@gmail.com" style="color: rgb(240, 156, 31); text-decoration: none;font-size: 17PX;">
        devika742002@gmail.com <i class="fas fa-envelope" style="color:rgb(240, 156, 31); font-size: 20PX;"></i> 
      </a><br>
      
      <p>
        <a href="https://www.google.com/maps/place/Tamil+Nadu" target="_blank" style="color: rgb(14, 70, 238); text-decoration: none;font-size: 17PX;">
          TamilNadu <i class="fas fa-map-marker-alt" style="color: rgb(14, 70, 238);font-size: 20PX;"></i>
        </a>
      </p>
      
      <p>
        <a href="tel:+9500567829" style="color:fuchsia; text-decoration: none;font-size: 17PX;">
          9500567829 <i class="fas fa-phone" style="color:fuchsia;font-size: 20PX;"></i>
        </a>
      </p>
      
     
    </div>
  </div>
  
 </section>
