<mat-toolbar color="primary" class="mat-elevation-z8">
    <span><mat-icon>eco</mat-icon> Menu</span>
   
     <div class="spacer"></div>
    <a mat-button routerLink="/customer/home">Home</a>
    <a mat-button routerLink="/customer/myprofile">My Profile</a>
    <a mat-button routerLink="/customer/menu">Menu</a>
    <a mat-button routerLink="/customer/myorders">My Orders</a>
    <a mat-button routerLink="/customer/mypayment">My Payments</a>
    <a mat-raised-button color="accent" (click)="logout()">Logout</a>
   </mat-toolbar>
   <div class="main-content" style="
   background-image: url('assets/images/menubg2.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 140px">
    <div class="section-content section-content-p30">
        <div class="container-fluid">  
                <div class="col-md-9">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let tempmenu of menu">
                                <div class="menu-container">
                                    <img src="{{ tempmenu.img }}" alt="{{ tempmenu.fname }}" class="menu-image">
                                    <h4 class="menu-item">{{ tempmenu.fname }}</h4>
                                    <p class="menu-price">{{ tempmenu.price }} ₹</p>
                                    <button class="atu-btn-submit" (click)="orderMenu(tempmenu.item_id)">Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
