@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

.spacer {
    flex: 1 1 auto;
  }
  .logo{
    margin-left: 0px;
    margin-top: 30px;
    width: 90px;
    height: 80px;
  }
.main-container{
        background-color:#545454;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       }

       .container{
        height: 100vh;
       }

       .card{

        width: 380px;
        border: none;
        border-radius: 15px;
        padding: 8px;
        background-color: #fff;
        position: relative;
        height: 370px;
        padding-bottom: 10%;
       }

       .upper{

        height: 100px;

       }

       .upper img{

        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

       }

       .user{
        position: relative;
       }

       .profile img{

        
        height: 80px;
        width: 80px;
        margin-top:2px;

       
       }

       .profile{

        position: absolute;
        top:-50px;
        left: 38%;
        height: 90px;
        width: 90px;
        border:3px solid #fff;

        border-radius: 50%;

       }

       .follow{

        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        height: 35px;
        color: #ffffff;
        background-image: linear-gradient(
                  to right,
                  #5e5656 5%,
                  black 100%
                );
        
       }

       .stats span{

        font-size: 29px;
       }