<mat-toolbar color="white" class="mat-elevation-z8" style="margin-bottom: 10px;">
    <div class="logo">
      
          <img src="assets\images\cofee logo.png" alt="Logo" class="img-responsive">
     
  </div>
  
   
     <div class="spacer"></div>
    <a mat-button style="margin-right: 10px;" routerLink="/customer/home">Home</a>
    <a mat-button style="margin-right: 10px;" routerLink="/customer/myprofile">My Profile</a>
    <a mat-button style="margin-right: 10px;" routerLink="/customer/menu">Menu</a>
    <a mat-button style="margin-right: 10px;" routerLink="/customer/myorders">My Orders</a>
    <a mat-button style="margin-right: 10px;" routerLink="/customer/mypayments">My Payments</a>
    <a mat-raised-button color="primary" (click)="logout()">Logout</a>
   </mat-toolbar>
<div class="main-container" style="
background-image: url('assets/images/wel.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
height: 90vh;
overflow: hidden;">
<div class="container d-flex justify-content-center align-items-center" style="padding-bottom: 10%;" >
             
    <div class="card">

     <div class="upper">

       <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid">
       
     </div>

     <div class="user text-center">

       <div class="profile">

         <img src="assets/images/Users.png" class="rounded-circle" width="80">
         
       </div>

     </div>


     <div class="mt-5 text-center">

       <h4 class="mb-0">{{ customer.customerName }}</h4>
       <span class="text-muted d-block mb-2">@{{ customer.username }}</span>
       <span class="text-muted d-block mb-2">{{ customer.email }}</span>
       <span class="text-muted d-block mb-2">+91 {{ customer.customerPhone }}</span>
       


       <div class="d-flex justify-content-between align-items-center mt-4 px-4">

         <div class="stats">
          
           <span> <button class="btn btn-primary btn-sm follow" routerLink="/customer/myorders">My Orders</button></span>

         </div>


         <div class="stats">
           
           <span> <button class="btn btn-primary btn-sm follow" routerLink="/customer/mypayment">My Payments</button></span>

         </div>


         
         
       </div>
       
     </div>
      
    </div>

  </div>
</div>